

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serifregular';
    src: url('../fonts/pt_serif-web-regular-webfont.eot');
    src: url('../fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_serif-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_serif-web-regular-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*=======================normal css===============*/


html, body {width: 100%; font-family: 'pt_serifregular'; font-size: 1em;}





#page {height: 100vh; /*background: #fff;*/ position: relative; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

.none-padding { padding: 0 !important;
   margin: 0 !important;}

.index {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
}


.black-mask {
    position: absolute;
    left: 50%;
    top: 50%;

    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
     background-color: rgba(0,0,0,0.6);
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%
    
   
}




/*.table {display: table; width: 100%; height: 100%;}*/

.cell {display: table-cell; vertical-align: middle; position: relative;}

.intro-text {font-family: 'Roboto', sans-serif; font-size: 40pt; font-weight: 100; color: #ffffff; line-height: 1.1; margin: auto; position: relative; }

.intro-text span {font-family: 'Roboto', sans-serif; font-size: 40pt; font-weight: 500; color: #ffffff; line-height: 1.1; margin: auto; position: relative;}

.navbar-default {background-image: none; background-color: transparent; border-color: transparent; box-shadow: none; border-radius:0; margin-bottom: 0; position: absolute; top: 10px; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 500;}

.navbar-fixed-top {border-color: none;}

.navbar-right {margin-right: 50px;}
.navbar-default .navbar-nav>li>a { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 12pt; color: #ffffff; margin-top: 30px;}

.navbar-default .navbar-nav>li>a:hover {color: #ec1c24;}

.navbar-brand, .navbar-nav>li>a {text-shadow: none;}

.brand-logo {margin-top: 30px; margin-left: 30px;}

.scroll {position: absolute; bottom: 7%; margin-right: auto;margin-left: auto; left: 0; right: 0; text-align: center;}

.btn {background-color: #ec1c24; padding: 10px 20px; color: #ffffff; font-family: 'pt_sansregular'; border-radius: 0; font-size: 12pt; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.btn:hover {background: #fff; color: #ec1c24;}

.btn-default {background-image: none; background-color: #ec1c24; border-radius: 0; padding: 10px 20px; color: #ffffff; text-shadow: none;  font-family: 'pt_sansregular'; border: none;}

.btn-default:hover {background-color: #ffffff; color: #ec1c24;  -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}


.wrap01 {height: 100%; background-color: #ec1c24; font-family: 'pt_sansbold'; color: #ffffff; font-size: 2em; padding: 3em;
 }
.wrap01Text {margin-bottom: 2.5em; line-height: 1;}
.max-cont { max-width: 90%; text-align: left;}
.list-wrap { margin-bottom: 1.5em}
.list-wrap .col-md-4 { height: 60px;}

.leftSpan { float: left; width: 60px; height:100%; border: 3px solid #5b000b; text-align: center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

.rightSpan { margin-left: 0; padding-left: 0; float: left; height: 100%; width: calc(100% - 60px); display: -webkit-flex; -webkit-align-items: center; display: flex; align-items: center;}

.rightSpan a {font-family: 'pt_serifregular'; color: #ffffff; font-size: 0.6em; text-decoration: none; padding-left: 20px }





.list-wrap .col-md-4:hover .rightSpan {background-color: #5b000b; /*outline: 3px solid #5b000b;*/}


.wrap02 {padding: 10em 5em; background-color: #ec1c24;}

.big-coloumn {background: url(../img/coloumn-big.jpg) no-repeat 50% 50%; background-size: cover; height: 700px; position: relative;}
.big-coloumn:before{background-color: rgba(0,0,0,0.8); position: absolute; height: 700px; content: " ";  top: 0; bottom: 0; left: 0; right: 0;}
.big-coloumn:hover:before{background-color: rgba(0,0,0,0.5);}

.small-coloumn { height: 350px; margin-bottom: 30px;}

.gallery1 { background: url(../img/vid01.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery2{ background: url(../img/vid02.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery3{ background: url(../img/event-1.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery4{ background: url(../img/event-2.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery5{ background: url(../img/event-3.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery6{ background: url(../img/photography-1.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery7{ background: url(../img/photography-2.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery8{ background: url(../img/photography-3.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery9{ background: url(../img/photography-4.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery10{ background: url(../img/event-4.jpg) no-repeat 50% 50%; background-size: cover; }
.gallery11{ background: url(../img/photography-7.jpg) no-repeat 50% 50%; background-size: cover; }


.sm-bg02 { background: url(../img/coloumn-small02.jpg) no-repeat 50% 50%; background-size: cover; }

.small-coloumn:before{background-color: rgba(0,0,0,0.2); position: absolute; height: 350px; content: " ";  top: 0; bottom: 0; left: 0; right: 0; -webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}

.small-coloumn:hover:before {background-color: rgba(0,0,0,0.8);}

.small-coloumn:hover .content-box {opacity: 0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.small-coloumn:hover .zoom-icon {opacity: 1;}

.content-box {position: absolute; bottom: 0;z-index: 1; padding: 0px; font-family: 'pt_sansregular';/* width: 100%;*/-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; font-weight: 300;}

h5 {font-size: 1.4em; color: #ffffff;}
.content-box h5 span {font-size: 1.2em; color: #ec1c24;}
.content-box p {color: #ffffff; font-family: 'pt_sansregular'; font-size: 14pt;}
.big-text { font-family: 'pt_serifregular'; color: #ffffff; font-size: 2em; z-index: 2; line-height: 1;}

.zoom-icon {opacity: 0; margin-left: auto; margin-right: auto; left: 0; right: 0; position: absolute; top: 150px; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

button {font-size: 12pt;}

.wrap04 {padding: 5em;}
.review {-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.review:hover {-webkit-transform: scale(1.03);
-ms-transform: scale(1.03);
-o-transform: scale(1.03);
transform: scale(1.03); -webkit-box-shadow: 10px 10px 20px #c4c3c3; box-shadow: 10px 10px 20px #c4c3c3;}
.quote { font-size: 1.8em; font-family: 'pt_sansregular'; color: #666666; line-height: 1; margin: 1em auto 4em auto;}
.main-cont {max-width: 90%;}
.twit01 {height: 350px; background: url(../img/teit01.jpg) no-repeat 50% 50%; background-size: cover; position: relative; margin-bottom: 50px;}
.twit-content {background-color: #ffffff; margin: 10px; padding: 15px; position: absolute; bottom: 0;}

.twit-content p {font-size: 1em; font-family: 'pt_sansregular';}
.twit-content h4 {color: #29abe2; font-family: 'pt_sansregular'; font-size: 1.2em}

hr {width: 70px; margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #29abe2; margin-left: 0;}
.twit02 {height: 350px; background: url(../img/twit02.jpg) no-repeat 50% 50%; background-size: cover; position: relative; margin-bottom: 50px;}
.twit03 {height: 350px; background: url(../img/twit03.jpg) no-repeat 50% 50%; background-size: cover; position: relative; margin-bottom: 50px;}

.add {margin-top: 4em;}

.left-grid {background: url(../img/model.jpg) 50% 50% no-repeat ; background-size: cover; height: 200px;}

.right-grid {background-color: #ec1c24; height: 200px; padding-top: 1em;}

.right-grid h3 {font-size: 1.7em; color: #ffffff;   font-family: 'pt_sansregular'; margin-bottom: 20px;}

.right-grid p {color: #ffffff; font-size: 1em; font-family: 'pt_sansregular'; line-height: 1; margin-bottom: 20px;}

.right-grid strong {font-size: 1.5em; color: #5b000b;   font-family: 'pt_sansregular'; line-height: 1.3;}

.contact {height: 100%;}

.cnt-row {height: 100%;}

.cnt-left {background: url(../img/cnt-bg.jpg) no-repeat 50% 50%; height: 100%; background-size: cover; }

.cnt-left h1 {color: #ffffff; font-family: 'pt_serifregular'; font-size: 3em; }

.cnt-left h1 span {color: #ec1c24;}

.right-row {margin: 0 20px;}
.cnt-right {background-color: #f9f9f9; height: 100%;}
.cnt-right h2 {font-family: 'pt_sansregular'; color: #666666; margin: 50px;}

.cnt-right .form-control {border-radius: 0; background-color: transparent; box-shadow: none; border: 1px solid #999999; position: relative;  font-family: 'pt_sansregular'; } 

.cnt-right button {margin-top: 20px; background-color: #666666; border: 1px solid #666666; padding: 10px 40px;}
.cnt-right button:hover {color: #666666; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition:  all 0.3s ease;}


.message {height: 100px;}

.social-icon { margin-top: 20px;}

.social-icon ul {list-style-type: none; margin-left: 0; }

.social-icon ul li {display: inline-block; margin: 5px;}

.si3 {background: url(../img/fb-grey.jpg) no-repeat 50% 50%;
 background-size: contain; width: 40px; height: 40px;}
.si3:hover {background: url(../img/fb-icon.png) no-repeat 50% 50%;
 background-size: contain; width: 40px; height: 40px; -webkit-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 transition:  all 0.3s ease; }


.si2 {background: url(../img/twit-grey.jpg) no-repeat 50% 50%;
 background-size: contain; width: 40px; height: 40px;}

.si2:hover {background: url(../img/twitter-icon.png) no-repeat 50% 50%;
 background-size: contain; width: 40px; height: 40px; -webkit-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 transition:  all 0.3s ease;}

.si1 {background: url(../img/pin-grey.jpg) no-repeat 50% 50%;
 background-size: contain; width: 40px; height: 40px;}

.si1:hover {background: url(../img/pinterest-icon.png) no-repeat 50% 50%;
 background-size: contain; width: 40px; height: 40px; -webkit-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 transition:  all 0.3s ease;}

.copy-right { font-family: 'pt_sansregular'; font-size: 10pt; color: #999999;  position: absolute; bottom: 20px; margin-left: auto; margin-right: auto; left:0; right: 0;}

/*sidebar menu*/
.panel {background: #222; overflow: hidden; border-radius: 0 }
#menu ul {list-style: none; padding: 0; margin-top: 5em;}
#menu ul li {border-bottom: 1px solid #2f2f2f}
#menu ul li:last-child {border-bottom: none}
#menu ul li a {display: block; padding: 15px 30px; font-size: 1.3em; color: #fff; font-family: 'pt_sansregular'; text-decoration: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

#menu ul:hover li a {color: #6d6d6d;}
#menu ul li a:hover {background: #ec1c24; color: #fff; -webkit-box-shadow: 0 0 10px 10px #444; box-shadow: 0 0 10px 5px #1d1d1d;}

.social {list-style: none; padding: 0 30px; position: absolute; bottom: 0; left: 0;}
.social li {-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; display: inline-block; margin-right: 10px;}
.social .fb {width: 32px; height: 32px; background: url(../img/fb-menu.png) no-repeat;}
.social .tw {width: 32px; height: 32px; background: url(../img/tw-menu.png) no-repeat;}
.social .fb:hover {background: url(../img/fb-menu-hover.png) no-repeat;}
.social .tw:hover {background: url(../img/tw-menu-hover.png) no-repeat;}

.large {overflow-x: hidden;}
/*================about==========================*/
.about-header {background-color: #eb1c24; height: 80px; padding: 30px; position: relative;}

.about-menu {position: absolute; top: 30px; right: 50px;}
.nav-cont {padding: 30px;}
.nav-cont ul { list-style-type: none;}
.nav-cont ul li {display: inline-block; margin: 0 30px;}
.nav-cont ul li a{ font-family: 'pt_sansbold'; text-decoration: none; font-size: 0.9em; color: #808080;}
.nav-cont ul li a:hover { color: #ec1c24;}
.main-wrap {padding: 5em;}
.big-text01 { font-family: 'pt_serifregular'; font-weight: bold; color: #000000; font-size: 4em;}
.about-para {font-family: 'pt_sansregular'; font-size: 1em; 
color: #4d4d4d; margin: 8em;}
.about-para p {margin: 30px 0; text-align: justify;}

.about-left {background: url(../img/values-bg.jpg) no-repeat 50% 50%; height: 100%; background-size: cover;}

.about-left h1 {color: #ffffff; font-family: 'pt_serifregular'; font-size: 3em;  font-weight: bold;}

.about-left h1 span {color: #5b000b;}

.about-right {background-color: #f1f1f1; height: 100%;}
.about-right h3{color: #eb1c24; margin-top: 100px; font-size: 2em;}
.about-right p {font-family: 'pt_sansregular'; margin: 20px 0; font-size: 1.2em; color: #808080;}
.about-right ul {list-style-type: none;padding: 0;}

.about-right ul li {font-size: 2em; line-height: 2; color: #989898;}

.creativeCouncil-wrap {padding: 4em; background-color: #e3e3e3;}

.team {height: 350px; -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%); -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); filter: grayscale(100%);
overflow: hidden; margin-bottom: 4em;}

.team:hover {height: 350px; -webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%); -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%); filter: grayscale(0%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.p1 { width: 100%; height: 100%; background: url(../img/per1.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}

.p2 { width: 100%; height: 100%; background: url(../img/per2.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}

.p3 { width: 100%; height: 100%; background: url(../img/per3.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}
.p4 { width: 100%; height: 100%; background: url(../img/per4.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}
.p5 { width: 100%; height: 100%; background: url(../img/per5.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}
.p6 { width: 100%; height: 100%; background: url(../img/per6.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}

.name-box { background-color: rgba(235,28,36, 0.8); 
padding: 0; color: #ffffff;  width: 100%; position: absolute; bottom: -50px; height: 50px; font-family: 'pt_sansregular'; padding-left: 30px; font-size: 1.3em;
}

.name-box span {color: #5b000b;}
.team:hover .name-box {bottom: 0; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

.loading {width: 100%; height: 100%; background: #ec1c24; position: fixed; top: 0; right: 0;z-index: 3000; display: table; text-align: center;}
.loading-gif {display: table-cell; vertical-align: middle; width: 100%; text-align: center;}
.menu-icon {position: fixed; top: 15px; right: 32px; z-index: 1000;}

.value p {display: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.value h3 {margin: 0; color: #808080; cursor: pointer}
.value h3:hover {color: #ec1c24 !important;}
.table-t {display: table; width: 100%;height: 100%;}
.table-cell {display: table-cell; vertical-align: middle;}

/*===================News==========================*/
.news-cont {padding: 50px;}
.news-row {margin-bottom: 2em;}
.left-news { height: 350px; background: url(../img/poultry.jpg) no-repeat 50% 50%; background-size: cover;}
.left-news03 { height: 350px; background: url(../img/jwellery.jpg) no-repeat 50% 50%; background-size: cover;}
.left-news01 { height: 350px; background: url(../img/client-service.jpg) no-repeat 50% 50%; background-size: cover;}
.left-news02 { height: 350px; background: url(../img/graphic-designer.jpg) no-repeat 50% 50%; background-size: cover;}
.right-news { background-color: #f7f7f7; padding: 3em; font-size: 1.1em; color: #4b4b4b; font-family: 'pt_sansregular'; min-height: 350px; }
.right-news01 { background-color: #f7f7f7; padding: 3em; font-size: 1.1em; color: #4b4b4b; font-family: 'pt_sansregular'; min-height: 350px; }
.right-news01 a { color: #000000; text-decoration: none;}
.right-news01 a:hover { color: #ec1c24;  text-decoration: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

.right-news p { text-align: justify;}
.small-news {height: 600px; margin-top: 2em; margin-bottom: 4em;}
.smn {height: 250px;}
.smn-bg {background: url(../img/news-bg.jpg) no-repeat 50% 50%; background-size: cover; margin-top: 10px;}
.smn-news-cont {background-color: #f1f1f1; height: 400px; padding: 4em;}
.smn-news-cont h2 {font-family: 'pt_sansregular'; color: #000000; }
.smn-news-cont p {font-family: 'pt_sansregular'; color: #808080; text-align: justify;}

.add-main {max-width: 1100px; margin-bottom: 6em;}

.clients {width:250px; display: inline;  margin-bottom: 50px; -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%); -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); filter: grayscale(100%);}

.clients:hover {width:250px; display: inline;  -webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%); -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%); filter: grayscale(0%); -webkit-transition:all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}

.news-list {margin: 2em auto; }
.news-list li {color: #ec1c24; font-size: 1.3em; /*font-weight: bold;*/}
.news-list span {color: #393939; }

.right-news a {background: #ec1c24; color: #fff; text-decoration: none; font-size: 1.2em; padding: 0.4em 1.25em; font-family: 'pt_sansregular', sans-serif;}
.right-news a:hover {background: #fff; color: #ec1c24; border: 1px solid #ec1c24}

/*service page*/
.service-wrap {padding: 0; height: 100%;}
.service-wrap .big-text01 {margin: 1em auto;}
.service-wrap .services li {display: inline-block; font-size: 1.5em; color: #808080; padding: 0 0.5em; border-right: 1px solid #ec1c24; margin: 0.3em 0;}
.services li a {color: #808080; text-decoration: none;}
.services li a:hover {color: #ec1c24}
.service-wrap .services li:last-child, .service-wrap .services li:nth-child(4) {border: none}
#serviceIcon {padding: 1em 10em; margin-bottom: 3em;}
#serviceIcon img {width: 100%; max-width: 100px;}
#serviceIcon span {font-family: 'pt_sansregular', sans-serif; color: #808080; font-size: 1em; line-height: 3;}
#serviceIcon .row div {-webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
#serviceIcon .row div:hover {margin-top: -10px;}
.service, .service div {height: 100%;}
.table-cell div {height: auto !important}
.service a {background: #ec1c24; color: #fff; text-decoration: none; font-size: 1.2em; padding: 0.4em 1.25em; font-family: 'pt_sansregular', sans-serif;}
.service a:hover {background: #fff; color: #ec1c24; border: 1px solid #ec1c24}
.service .col-md-12 {padding: 4em; text-align: center;}
.service h1 {font-size: 4em; margin-bottom: 0.7em;}
.service p {font-family: 'pt_sansregular', sans-serif; font-size: 1.1em;}
.service.one {background: url(../img/service-bg-1.jpg) center center no-repeat; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #fff;}
.service.two {background: #fff; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #1d1d1d;}
.service.three {background: url(../img/service-bg-3.jpg) center center no-repeat; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #fff; }
.service.four {background: #fff; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #1d1d1d; }
.service.five {background: url(../img/service-bg-5.jpg) center center no-repeat; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #fff; }
.service.six {background: #fff; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #1d1d1d; }
.service.seven {background: url(../img/service-bg-4.jpg) center center no-repeat; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; color: #fff; }

#popup {position: fixed; top: 20%; left: 50%; margin-left: -30vw; width: 60vw; height: 60vh; background: #fff; -webkit-box-shadow: 0 0 10px #838383; box-shadow: 0 0 10px #838383; display: none}
#popup div {height: 100%;}
.popupImage {height: 100%; background-repeat: no-repeat; -webkit-background-size: cover; background-size: cover; background-position: 50% 50%;}
.popupText {color: #989898; font-family: 'pt_sansregular', sans-serif; font-size: 1em; padding-top: 2em;}
.popupText span {color: #ec1c24; font-size: 1.5em;}
.service-type li {display: inline; padding: 0 20px; font-size: 1.5em; border-right: 1px dotted #ec1c24}
.service-type li:last-child {border-right: none}
#strategyImg {/*display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;*/ text-align: center;}
#strategy img {width: 80%;}

/*poulty india new*/
.poultryAdd {background: url(../img/news1-bg.jpg) center center no-repeat; -webkit-background-size: cover; background-size: cover; padding: 3em 6EM; color: #fff;}

/*Testimonial*/
.wrap04 {padding-bottom: 10%;}
.wrap04 span {color: #ec1c24; font-size: 1.3em;}
.testimonial {max-width: 80%; font-family: 'pt_sansregular', sans-serif; font-size: 1.1em;}
.testimonial span {color: #ec1c24; font-size: 1.3em;}
.customer-avatar {width: 200px;}
.carousel-control.left, .carousel-control.right {background-image: none; display: -webkit-flex; -webkit-align-items: center; -webkit-justify-content: center;}
