

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serifregular';
    src: url('../fonts/pt_serif-web-regular-webfont.eot');
    src: url('../fonts/pt_serif-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_serif-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_serif-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_serif-web-regular-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*=======================normal css===============*/


html, body {margin: 0; padding: 0; width: 100%; height: 100%;
font-family: 'pt_serifregular'; font-size: 1em;
overflow-x: hidden; }

#sb-site {height: 100%;}

.none-padding { padding: 0 !important;
   margin: 0 !important;}

.index {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}




 video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
     background-color: rgba(0,0,0,0.99);
     margin: 0;
    
}


.black-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
     background-color: rgba(0,0,0,0.6);
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%
    
   
}


.table {display: table; width: 100%; height: 100%;}

.cell {display: table-cell; vertical-align: middle; position: relative;}

.intro-text {font-family: 'Roboto', sans-serif; font-size: 40pt; font-weight: 100; color: #ffffff; line-height: 1.1; margin: auto; position: relative; }

.intro-text span {font-family: 'Roboto', sans-serif; font-size: 40pt; font-weight: 500; color: #ffffff; line-height: 1.1; margin: auto; position: relative;}

.navbar-default {background-image: none; background-color: transparent; border-color: transparent; box-shadow: none; border-radius:0; margin-bottom: 0; position: absolute; top: 10px; margin-left: auto; margin-right: auto; left: 0; right: 0; z-index: 500;}

.navbar-fixed-top {border-color: none;}

.navbar-right {margin-right: 50px;}
.navbar-default .navbar-nav>li>a { font-family: 'Lato', sans-serif; font-weight: 100; font-size: 12pt; color: #ffffff; margin-top: 30px;}

.navbar-default .navbar-nav>li>a:hover {color: #ec1c24;}

.navbar-brand, .navbar-nav>li>a {text-shadow: none;}

.brand-logo {margin-top: 30px; margin-left: 30px;}

.scroll {position: absolute; bottom: 15%; margin-right: auto;margin-left: auto; left: 0; right: 0; text-align: center;}

.btn-default {background-image: none; background-color: #ec1c24; border-radius: 0; padding: 10px 20px; color: #ffffff; text-shadow: none;  font-family: 'pt_sansbold'; border-color: #ec1c24;}

.btn-default:hover {background-color: #ffffff; color: #ec1c24;
border-color: #ffffff -webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}


.wrap01 {height: 100%; background-color: #ec1c24; font-family: 'pt_sansbold'; color: #ffffff; font-size: 2em; padding: 3em;
 }
.wrap01Text {margin-bottom: 2.5em; line-height: 1;}
.max-cont { width: 960px; margin: auto; text-align: left;}
.list-wrap {margin-top: 1.5em;}


.rightSpan a {font-family: 'pt_serifregular'; color: #ffffff; font-size: 0.7em; padding-left: 30px; line-height: 2; text-decoration: none;}

.list-wrap span {font-size:1em;color: #5b000b;}

.rightSpan { margin-left: 0; padding-left: 0; float: left; height: 50px; width: 250px;}

.leftSpan { float: left; width: 50px; height: 50px; outline: 3px solid #5b000b; text-align: center; line-height: 2;}

.rightSpan:hover {background-color: #5b000b; outline: 3px solid #5b000b;}


.wrap02 {padding: 10em 5em;}

.wrap03 {padding: 0; margin: 0;}
.big-coloumn {background: url(../img/coloumn-big.jpg) no-repeat 50% 50%; background-size: cover; height: 700px; position: relative;}
.big-coloumn:before{background-color: rgba(0,0,0,0.8); position: absolute; height: 700px; content: " ";  top: 0; bottom: 0; left: 0; right: 0;}

.small-coloumn { height: 350px;}

.sm-bg01 { background: url(../img/coloumn-small01.jpg) no-repeat 50% 50%; background-size: cover; }

.sm-bg02 { background: url(../img/coloumn-small02.jpg) no-repeat 50% 50%; background-size: cover; }

.small-coloumn:before{background-color: rgba(0,0,0,0.8); position: absolute; height: 350px; content: " ";  top: 0; bottom: 0; left: 0; right: 0; -webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}

.small-coloumn:hover:before {background-color: rgba(0,0,0,0.2);}

.small-coloumn:hover .content-box {opacity: 0;-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
.small-coloumn:hover .zoom-icon {opacity: 1;}



.content-box {position: absolute; bottom: 0;z-index: 1; padding: 20px; font-family: 'pt_sansregular'; width: 100%;-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}

h5 {font-size: 1.4em; color: #ffffff;}
.content-box h5 span {font-size: 1.2em; color: #ec1c24;}
.content-box p {color: #ffffff; font-family: 'pt_sansregular'; font-size: 14pt;}
.big-text { font-family: 'pt_serifregular'; color: #ffffff; font-size: 2em; z-index: 2; line-height: 1;}

.zoom-icon {opacity: 0; margin-left: auto; margin-right: auto; left: 0; right: 0; position: absolute; top: 150px;-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}


button {font-size: 12pt;}

.wrap04 {padding: 4em;}
.quote { font-size: 1.8em; font-family: 'pt_sansregular'; color: #666666; line-height: 1; margin-bottom: 2em;}
.main-cont {max-width: 900px; margin: auto;}
.twit01 {height: 350px; background: url(../img/teit01.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}
.twit-content {background-color: #ffffff; margin: 10px; padding: 10px;position: absolute; bottom: 0;}

.twit-content h4 {color: #29abe2; font-family: 'pt_sansregular'; font-size: 1.2}

hr {width: 70px; margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #29abe2; margin-left: 0;}
.twit02 {height: 350px; background: url(../img/twit02.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}
.twit03 {height: 350px; background: url(../img/twit03.jpg) no-repeat 50% 50%; background-size: cover; position: relative;}

.add {margin-top: 4em;}

.left-grid {background: url(../img/model.jpg) 50% 50% no-repeat ; background-size: cover; height: 200px;}



.right-grid {background-color: #ec1c24; height: 200px; padding-top: 1em;}

.right-grid h3 {font-size: 2em; color: #ffffff;   font-family: 'pt_sansregular';}

.right-grid p {color: #ffffff; font-size: 1.2em; font-family: 'pt_sansregular'; line-height: 1.2; margin-bottom: 20px;}

.right-grid h4 {font-size: 1.5em; color: #5b000b;   font-family: 'pt_sansregular'; }

#contact {height: 100%;}

.cnt-row {height: 100%;}

.cnt-left {background: url(../img/cnt-bg.jpg) no-repeat 50% 50%; height: 100%; background-size: cover;}

.cnt-left h1 {color: #ffffff; font-family: 'pt_serifregular'; font-size: 3em; }

.cnt-left h1 span {color: #ec1c24;}

.right-row {margin: 0 20px;}
.cnt-right {background-color: #f9f9f9; height: 100%;}
.cnt-right h2 {font-family: 'pt_sansregular'; color: #666666; margin: 50px;}

.cnt-right .form-control {border-radius: 0; background-color: transparent; box-shadow: none; border: 1px solid #999999; height: 45px;} 

.cnt-right button { margin-top: 20px; background-color: #666666; border: 1px solid #666666; padding: 10px 40px;}

.message {height: 100px;}

/*sidebar menu*/
.sb-slidebar {margin-right: 17px;}
#menu ul {list-style: none; padding: 0; margin-top: 5em;}
#menu ul li {border-bottom: 1px solid #2f2f2f}
#menu ul li:last-child {border-bottom: none}
#menu ul li a {display: block; padding: 15px 30px; font-size: 1.3em; color: #fff; font-family: 'pt_sansregular'; text-decoration: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}

#menu ul:hover li a {color: #6d6d6d;}
#menu ul li a:hover {background: #ec1c24; color: #fff; -webkit-box-shadow: 0 0 10px 10px #444; box-shadow: 0 0 10px 5px #1d1d1d;}